@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }


body,
html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: brown;
    background-color: bisque;

}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}


.cart-container {
    color: brown;
    width: 80vw;
    min-height: 20vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-item {
    min-width: 60vh;
    min-height: 10vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

hr {
    border: none;
    border-top: 1px solid #ccc; 
    margin: 10px 0; 
    margin-left: 2vh;
    margin-right: 2vh;
}

.item-details {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.item-image {
    max-width: 15%;
    height: auto;
    margin-left: 2vh;
    border-radius: 20px;

}

.item-name {
    width: 20vh;
    margin-left: 2vh;
    margin-right: 5vh;
}

.item-price {
    min-height: 5vh;
    min-width: 10vh;
    background-color:rgb(255, 178, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.remove-item-button {
    margin-right: 2vh;
    margin-left: 2vh;
}

.cart-summary{
    display: flex;
    flex-direction: column;
}

.checkout-button{
    margin-bottom: 2vh;
}

button{
    background-color: rgb(255, 156, 63);
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}

/* NAVBAR ----------------------*/

#navbar {
    width: 100%;
    height: 3rem;
    background-color: rgba(255, 123, 0, 0.368);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    position: fixed;
    top: 0px;
    backdrop-filter: blur(10px) invert(40%);
    font-size: 18px;
    z-index: 99999;
  }
  
  #navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    align-content: center;
  
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  li {
    transition: transform 0.3s ease-in-out;
  }
  
  li:hover {
    transform: scale(1.2);
  }
  
  ul {
    list-style-type: none;
  }
  
  @media only screen and (max-width: 700px) {
    #nav-list {
      display: none;
    }
  }